<!DOCTYPE html>
<html>
  <head lang="en">
    <link rel="stylesheet" href="/css/styles.css"/> 
  </head>
  <body>
    {{>header}}
    <img src="/images/computer_robot_meme.jpg" alt="no image" />
    {{>footer}}
  </body>
</html>